source/bin/
source/obj/

source/JohnKnoop\.MongoRepository\.csproj\.user

JohnKnoop\.MongoRepository/source/\.vs/
JohnKnoop\.MongoRepository/source/bin/

JohnKnoop\.MongoRepository/source/obj/

JohnKnoop\.MongoRepository\.NodaTime/bin/

JohnKnoop\.MongoRepository\.NodaTime/obj/

*.DotSettings
